.menu-list-item {
  margin: 5px;
  padding: 25px 20px;

  cursor: pointer;
  text-align: center;
}

.menu-list-item:hover .burger-img {
  transform: scale(1.2);
}

.burger-img {
  width: 250px;
  height: auto;

  transition: all .2s ease-in-out;
}